* {
  box-sizing: border-box;
  font-family: $font-header;
  background-color: $brand-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: flex;
  //   -webkit-box-orient: vertical;
  //   -webkit-box-direction: normal;
  //   -ms-flex-direction: column;
  //   flex-direction: column;
}
