// Font
$font-header: "CooperHewitt-Book";

// Colours
$theme-colors: (
  "black": rgb(133, 165, 101)
);

@function color($key) {
  @return map-get($theme-colors, $key);
}

$brand-primary: color("black");

// Temporary Breakpoints
$large: 992px;
$xl: 1200px;
$xxl: 2000px;

@mixin large {
  @media (min-width: #{$large}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$xl}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$xl}) {
    @content;
  }
}
